<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ZeptoServer" type="ZeptoServer.ServiceHost.Configuration.ZeptoServerConfigurationSection, ZeptoServerService" />
  </configSections>

  <ZeptoServer>
    <ServerHost
      xmlns="clr-namespace:ZeptoServer;assembly=ZeptoServer"
      xmlns:zepto.log="clr-namespace:ZeptoServer.Log;assembly=ZeptoServer"
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml">
      <x:Arguments>
        <!-- Listener end-point configuration -->
        <system.net:IPEndPoint xmlns:system.net="clr-namespace:System.Net;assembly=System">
          <x:Arguments>
            <x:Static MemberType="system.net:IPAddress" Member="Any" />
            <x:Int32>21</x:Int32>
          </x:Arguments>
        </system.net:IPEndPoint>

        <!-- Server factory -->
        <zepto.ftp:FtpServerFactory
          xmlns:zepto.ftp="clr-namespace:ZeptoServer.Ftp;assembly=ZeptoServer.Ftp"
          xmlns:zepto.ftp.config="clr-namespace:ZeptoServer.Ftp.Configuration;assembly=ZeptoServer.Ftp"
          xmlns:zepto.ftp.fs.local="clr-namespace:ZeptoServer.Ftp.LocalFileSystem;assembly=ZeptoServer.Ftp.LocalFileSystem"
          xmlns:zepto.ftp.fs.azure="clr-namespace:ZeptoServer.Ftp.AzureStorage;assembly=ZeptoServer.Ftp.AzureStorage">
          <x:Arguments>
            <zepto.ftp:FtpServerOptions>
              <x:Arguments>
                <x:String>localhost</x:String>
                <x:Array Type="zepto.ftp.config:FtpUser">
                  <zepto.ftp.config:FtpUser>
                    <x:Arguments>
                      <x:String>user</x:String>
                      <x:String>password</x:String>
                        
                      <!-- Local file system -->
                      <zepto.ftp.fs.local:LocalFileSystem>
                        <x:Arguments>
                          <x:String>C:\</x:String>
                        </x:Arguments>
                      </zepto.ftp.fs.local:LocalFileSystem>

                      <!-- Azure BLOB Storage -->
                      <!--zepto.ftp.fs.azure:AzureStorageFileSystem>
                        <x:Arguments>
                          <x:String>DefaultEndpointsProtocol=https;AccountName=name;AccountKey=key;EndpointSuffix=core.windows.net</x:String>
                          <x:String>container</x:String>
                        </x:Arguments>
                      </zepto.ftp.fs.azure:AzureStorageFileSystem-->
                    </x:Arguments>
                  </zepto.ftp.config:FtpUser>
                </x:Array>
              </x:Arguments>
            </zepto.ftp:FtpServerOptions>
          </x:Arguments>
        </zepto.ftp:FtpServerFactory>

        <!-- Logger -->
        <zepto.textlog:TextLogger
          xmlns:zepto.textlog="clr-namespace:ZeptoServer.TextLogger;assembly=ZeptoServer.TextLogger"
          xmlns:zepto.textlog.sink="clr-namespace:ZeptoServer.TextLogger.Sinks;assembly=ZeptoServer.TextLogger">
          <x:Arguments>
            <x:Static MemberType="zepto.log:LoggerSeverity" Member="Verbose" />
            <zepto.textlog.sink:ConsoleLoggerSink />
          </x:Arguments>
        </zepto.textlog:TextLogger>
      </x:Arguments>
    </ServerHost>
  </ZeptoServer>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>